html, body, #content, .row {
    height: 100%;
}

.row {
    flex-wrap: nowrap;
}

#control-panel {
    width: 15em;
    flex: 0 0 auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #EEE;
    border-right: 1px solid #E3E3E3;
}

#control-panel textarea {
    min-width: 100%;
    max-width: 100%;
    height: 8em;
}

#control-panel #draw {
    margin: 1em 0;
}

#control-panel #share {
    margin: 0 0 auto auto;
}

#control-panel #extra-buttons {
    display: flex;
}

#control-panel #extra-buttons > * {
    flex: 1 0 auto;
}

#control-panel #extra-buttons > *:first-child {
    margin-right: 0.5em;
}

#canvas-wrapper {
    display: flex;
    margin: 0 auto;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}

#canvas-wrapper canvas {
    background-color: white;
    flex: none;
    border-radius: 0.25em;
}

#presets {
    flex: 0 0 auto;
    background-color: #EEE;
    border-left: 1px solid #E3E3E3;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#presets .presets-title {
    flex: 0 0 auto;
}

#presets .preset-wrapper {
    overflow-y: scroll;
    padding: 0;
    height: 20em;
    flex: 1 0 0;
}

#presets .option {
    width: 12em;
    margin: 0.75em auto;
    cursor: pointer;
}

#presets .card-body {
    padding: 0.5em;
}

#presets .option:hover {
    background-color: rgba(0,0,0,.075);
}